*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/awibRx.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

}

form{
  background-color: rgba(0, 0, 0, 0.59);
  max-width: 600px;
  margin: 100px auto;
  padding: 30px 20px;
  border-radius: 5px;

}
 a{text-decoration: none;
  color: beige;
  }
.header{
  display: flex;
  padding: 0, 20px, 0;
  margin-bottom: 50px;
}
.password {

  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 50px;

/* width: 50%;
margin: 50px 10px;
display: block;
align-items: center;
color: #fff;
margin-bottom: 15px; */
}
.underpassword{
  display: flex;

padding: 10px;
width: 100%;
font-size: 16px;
outline: none;
color: rgb(65, 54, 54);
}
.underpassword input{
  padding: 7px;
}
.underpassword input{
  width: 100%;
}
