*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/awibRx.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;


}

form{
  background-color: rgba(0, 0, 0, 0.59);
  max-width: 600px;
  margin: 100px auto;
  padding: 30px 20px;
  border-radius: 5px;

}

.password {
width: 50%;
margin: 50px 10px;
display: flex;
align-items: center;
/* border: 2px solid #ddd;
border-radius: 3px; */
color: #fff;
}
.password input{
border: 2px solid #ddd;
border-radius: 3px;
padding: 5px;
width: 100%;
font-size: 16px;
outline: none;
color: #fff;
}
icony-icon{
margin: 0 10px;
}